body{
    background-image: url("/pic/co_bg.png");
    background-repeat: repeat;
    z-index: -4;
    order: -4;
}
.pagetitle{ 
    margin-bottom: 70px;
    text-align: center;
    align-items: center;
}
.co{ margin-bottom: 200px; }
.co section{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: flex-start;
    gap: 90px 100px;
}
.co figure img{
    vertical-align: bottom;
    margin: auto;
}
/* .co figcaption:not(:nth-of-type(2)){
    margin-left: 80px;
} */
.co h3{ margin-bottom: 20px; }
.co h4{ margin: 28px 0; }
.co ul{
    margin-bottom: 16px;
    margin-left: 32px;
}
.co li{
    line-height: 30px;
    letter-spacing: 12%;
    list-style-type: disc;
    margin-top: 8px;
}
.co .p3{
    color: var(--Cdg);
}
.co figcaption a{
    display: block;
    width: 100%;
    text-align: center;
}