/* 
.faq{
    margin-bottom: 200px;
}
.pagetitle{ margin-bottom: 70px; }
.faq_content{
    width: 100%;
} */
/* .faq_nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-left: 16px;
} */
/* .faq_nav p{
    width: 200px;
    height: 60px;
    padding: auto;
    border-radius: 12px 12px 0 0;
    text-align: center;
    cursor: pointer;
} */
.faq_nav p:hover{
    box-shadow: var(--S-1_0_2) var(--CLogoB30p);
    /* padding-top: 2px; */
    /* padding-left: 2px; */
    font-weight: normal;
    font-weight: 500;
    text-shadow: var(--S-1_-1_1) var(--CLogoB20p);
}

/* 隱藏跟顯示暫時這樣寫 */
/* nav p:not(:first-of-type){
    color: var(--Clpp);
    border-top: 1px solid var(--Clpp);
    border-left: 0.5px solid var(--Clpp);
    border-right: 0.5px solid var(--Clpp);
} */
nav p:first-of-type{
    background-color: var(--Clpp);
    color: var(--Cwhite);
    font-weight: 600;
}
div.faq_bars:not(.gemKnowledge), .faq_a{
    display: none;
}
.show .faq_a {
    display: block;
}
.show .faq_q h2, .show .faq_q p{
    color: var(--Cdpp);
}


/* .faq_bars{
    border: 1px solid var(--Clpp);
    border-radius: 12px;
    max-width: 1200px;
    padding: 40px;
    /* gap: 40px;
    box-shadow: var(--S-1_1_2) var(--CLogoB20p);
} */
/* .faq_bar{
    width: 100%;
    border-bottom: 1px solid var(--Cdpp);
    margin-bottom: 20px;
    cursor: pointer;
} */
.faq_bar:hover{
    background-color: rgb(180,95,120,0.2);
}
/* .faq_bar:hover img{
    animation: rotate 4s infinite ease;
} */

/* .faq_q{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--Cbrown);
    margin-bottom: 20px;
    padding-top: 20px;
    margin-left: 20px;
    padding-right: 20px;
    /* outline: black solid 1px;
} */
/* .faq_q>h2{
    color: var(--Cdg);
    /* outline: green solid 1px;
    height: 100%;
} */
/* .faq_q>p{
    margin-left: 20px;
    margin-right: auto;
    font-weight: 500;
    height: 100%;
    position: relative;
    bottom: 0;
    width: 100%;
    /* outline: blue solid 1px;
} */
/* .faq_q button{ */
    /* width: 100%; */
    /* outline: orange solid 1px; */
/* } */
/* .faq_q img{
    display: block;
    /* width: 100%;
} */
/* .faq_a{
    line-height: 30px;
    color: var(--Cblack);
    margin:0 40px 60px 60px;
} */