/* 首選Zen Old Mincho，備用Shippori Mincho */
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');
/* 中文P 思源明體 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
/* 英文標題手寫體 Petit Formal Script */
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
/* 英文內文字 Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


h1{
    font-family: 'Zen Old Mincho', 'Shippori Mincho', serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 15%;
}
h2{
    font-family: 'Zen Old Mincho', 'Shippori Mincho', serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 20%;
    color: #0F2864;
}
h3{
    font-family: 'Zen Old Mincho', 'Shippori Mincho', serif;
    font-weight: medium;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 15%;
    color: #9C1F43;
}
h4{
    font-family: 'Zen Old Mincho', 'Shippori Mincho', serif;
    font-weight: regular;
    font-size: 28px;
    line-height: 60px;
    letter-spacing: 15%;
    color: #140A0F;
}
p, li{
    font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
    font-weight: regular;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: 15%;
    color: #140A0F;
}
.p2{
    font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
    font-weight: demilight;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 12%;
    color: #140A0F;
}
.p3{
    font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 12%;
    color: #140A0F;
}
.circle_btn_more{
    font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
    font-weight: regular;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: 12%;
}

