/* icon hover */
footer dl{
    color: var(--Cbrown);
    letter-spacing: 12%;
}
footer dd>a{
    color: var(--Cdg);
    font-weight: 300;
    font-size: 18px;
}
footer dl dd:first-of-type{
    margin-top: 20px;
}
footer dd{
    text-align: center;
}
footer dt>a:hover{
    display: inline-block;
    color: var(--Cdpp);
    font-weight: 600;
    padding-bottom: 4px;
}
footer dd>a:hover iconify-icon:last-of-type{
    display: inline-block;
    padding-bottom: 4px;
}