/* banner */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.banner::after{
    content: "";
    display: inline-block;
    position: absolute;
    background-image: url("/pic/banner_bg.png");
    width: 100%;
    background-repeat: no-repeat;
    height: 1080px;
    order: -1;
    z-index: -1;
}
.banner_btn_left{
    margin: auto auto auto 200px;
}
.banner_btn_right{
    margin: auto 200px auto auto;
}
.banner_info{
    margin: 384px 96px 500px auto;
    text-align: right;
    color: var(--Cpw);
}
.banner_info_slogan{
    margin-bottom: 40px;
    text-shadow: var(--S-2_1_2) var(--CLogoB50p);
}
.banner .circle_btn h4{
    text-shadow: var(--S-2_1_2) var(--CLogoB40p);
    text-align: center;

}
.banner .circle_btn.pw h4{
    text-shadow: var(--S-2_1_2) var(--CLogoB40p);
    text-align: center;
    color: var(--Cpw);
}
.banner .circle_btn{
    justify-content: flex-start;
    margin-left: 160px;
}


/* intro */
.intro_bg{
    width: 100%;
    background-image: url("/pic/intro_bg.png");
    background-repeat: no-repeat;
    position: relative;
    transform: translate(0px, -330px);
    order: -2;
    z-index: -2;
}
.intro{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 352px 0 408px;
    align-items: center;
}
.intro .box_describe{
    margin-top: 40px;
}

/* collection */
.co{
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 96px;
    margin-top: -400px;
}
.con .enTitle{
    margin-bottom: 32px;
}
.co_wrap{
    display: grid;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    grid-template-columns: 15.29412% 40.5588% 37.18907%;
    margin-top: 32px;
    gap: 32px;
}
.co_words{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.co_words, .co_new_info{
    text-align: center;
}
.co_new_info>div{
    margin: 40px 0;
}
.co_new_info>div p+p{
    margin-top: 16px;
}
.co_wrap img{
    display: block;
    width: 100%;
    height: 100%;
}
.co_pics_l {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    gap: 32px; /* 第一个值是行间隔，第二个值是列间隔 */
}
.co_pics_ltl{
    border-radius: 12px 0 0;
}
.co_pics_lbl{
    border-radius: 0 0 0 12px;
}
.co_pics_r{
    border-radius: 0 12px 12px 0;
}

/* news */
.news{
    margin: 146px auto;
    overflow: hidden;
}
.news .name{
    margin: 40px 0 54px;
}
.news_wrap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
    width: 100%;
}
.card{
    border-radius: 12px;
    background-color: var(--Cwhite);
    border: 0.5px solid var(--Clg);
}
.card img{
    display: block;
}
.card_words{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 28px 40px 40px;
}


/* contact */
.contact_bg{
    background-image: url("/pic/contact_bg.png");
    background-repeat: no-repeat;
    border-radius: 0 0 12px 0 ;
    width: 96.6667%;
    margin: 154px 0;
}
.contact{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 69px auto 68px 0;
    align-items: center;
}
.box_warp{
    margin: 67px 0 67px 0;
}
.contact .box_describe{
    margin: 40px 0;
}