.usual_content{ gap: 0; }
.news_bg{
    background-image: url("/pic/news_bg.png") ;
    background-repeat: repeat;
    overflow-y: scroll; /* 允许滚动 */
}
.pagetitle{
    margin-bottom: 70px;
}

/* news_nav */
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    gap: 24px;
    padding: 8px 24px 24px;
}
.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    width: 144px;
    top: 252px; /* 元素将在距离父容器顶部200像素的地方固定 */
    display: inline-block;
    z-index: 999;
    order: 999;
}
aside li{
    color: var(--Cdg);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside li img{
    width: 12px;
    margin-right: 8px;
    vertical-align: bottom;
    display: none;
}
aside li:hover{
    color: var(--Cdpp);
}
aside li:hover img{ 
    display: block;
    animation: rotate 4s forwards ease;
}


/* news_bars */
main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    position: relative;
    top: -232px;
    left: 200px;
    width: 82%;
}
figure{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    max-height: 272px;
    width: 100%;
    height: 100%;
    box-shadow: var(--S1_2_2) var(--CLogoB30p);
    border-radius: 12px;

    position: relative;
    opacity: 0; /* 初始狀態為隱藏 */

    transform: translateY(40px);
    animation: fadeIn 3s ease-out forwards; /* 使用動畫 */
}
figure:nth-child(1){ animation-delay: 0.5s; }
figure:nth-child(2){ animation-delay: 1.25s; }
figure:nth-child(3){ animation-delay: 2s; }
figure:nth-child(4){ animation-delay: 2.75s; }
figure:nth-child(5){ animation-delay: 3.5s; }
figure:nth-child(6){ animation-delay: 4.25s; }
figure:nth-child(7){ animation-delay: 5s; }
figure:nth-child(8){ animation-delay: 5.75s; }
figure:nth-child(9){ animation-delay: 6.5s; }
figure:nth-child(10){ animation-delay: 7.25s; }
figure:nth-child(11){ animation-delay: 8s; }
figure:nth-child(12){ animation-delay: 8.25s; }
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
figure+figure{
    margin-top: 40px;
}
figure img{
    display: block;
    width: 300px;
    top: 50%;
    left: 50%;
}

/* news_bar 細節設定 */
figcaption, .news_content{
    /* display: flex; */
    flex: 1;
    /* flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */
    padding-right: 40px;
}
.news h4{
    color: var(--Cbrown);
}
.news time{
    margin-top: 20px;
    margin-bottom: auto;
    display: block;
}
.news_tags{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
}
.news_tags p, time{
    color: var(--Cdg);
    font-size: 16px;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 12%;
}
.news_tags p{
    border: 1px var(--Clg) solid;
    border-radius: 4px;
    padding: 4px 8px;
}