.shop_bg{
    position: absolute;
    display: flex;
    z-index:-2;

    top: 520px;
    right: 0;
    width: 85.4166666%;
    height: 2300px;
    border-radius: 500px 0 0 0 ;
    background-image: linear-gradient(to bottom, 
    rgb(233,203,211,0.05) 0%, 
    rgb(180,95,120,1) 100%);
}
.usual_content{
    gap: 100px;
}
.pagetitle{ 
    margin-bottom: 70px;
    text-align: center;
    align-items: center;
}
#XinyiBranch, #BanqiaoBranch, #ZhongliBranch{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
    margin: auto;
}
.item_content h3{
    text-align: center;
    margin-bottom: 28px;
}
.server ul{
    list-style-type: disc;
}
.server li{
    font-family: 'Noto Serif TC', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 12%;
    color: #140A0F;
    margin-top: 8px;
}
.addr>div, .phone, .time, .server>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.shop .item_content img{
    display: block;
}
.addr>p, .server li{
    margin-left: 44px;
}
.shop .addr{
    margin-top: 24px;
}

/* contact */
.contact_bg{
    background-image: url("/pic/contact_bg.png");
    background-repeat: no-repeat;
    /* position: absolute;
    left: 0; */
    border-radius: 0 0 10% 0 ;
    height: 70%;
    width: 96.6667%;
    margin: 154px 0;
}
.contact{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 69px auto 68px 0;
    align-items: center;
}
.box_warp{
    margin: 67px 0 67px 0;
}
.box_describe{
    margin: 40px 0;
}
.item_map{
    width: 600px;
}
iframe{
    display: block;
    border-radius: 12px;
    box-shadow: 1px 2px 2px rgb(15,40,100,0.3);
}
#BanqiaoBranch iframe{
    border-radius: 12px;
    box-shadow: -1px 2px 2px rgb(15,40,100,0.3);
}