@charset "UTF-8";
/* X-Smscreen devices (portrait phones, less than 576px) */
/* @media screen and (max-width: 575.98px) { ... } */
/* Smscreen devices (landscape phones, less than 768px) */
@media screen and (max-width: 768px) {
  .decorTitle {
    font-size: 32px;
    line-height: auto;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
    line-height: auto;
  }
  header .search input::-moz-placeholder {
    font-size: 18px;
    line-height: auto;
    letter-spacing: 4%;
  }
  h3, h4, p, #shop section, #collections ul, #news li, #header dd a, header .search input::placeholder {
    font-size: 18px;
    line-height: auto;
    letter-spacing: 4%;
  }
  /* {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 8%;   
  } */
  .p2, div.path, #news p, footer dl {
    font-size: 16px;
    line-height: auto;
  }
  footer dl {
    text-indent: -1.5em;
  }
  .p3, time {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 4%;
  }
  .container {
    /* margin: 0 10vw; */
    max-width: 90vw;
  }
  div.path {
    display: none;
  }
  hgroup {
    text-align: center;
    margin-top: 100px;
  }
  #shop hgroup .decorTitle {
    color: var(--Clpp);
  }
  main {
    margin: 32px auto 56px;
    gap: 40px;
  }
  .box > .box_bg {
    padding: 4vw 5vw 7vw;
  }
  .box > .box_bg > h2, .box p + p {
    margin-top: 3vw;
  }
  .box > .box_bg > h2 {
    margin-bottom: 4vw;
  }
  body:not(.news_bg) section {
    display: block;
  }
  [class*=decor] {
    /* width: max-content; */
  }
  [class*=decor] img {
    width: 70vw;
    margin: 0 auto;
  }
  iconify-icon > svg {
    width: 30px;
    height: 30px;
  }
  /* circleBTN */
  .circleBTN.dpp div {
    background-image: url(../pic/circleBTN_dpp_C_md.png);
    background-position: center;
  }
  .circleBTN.pw div {
    background-image: url(../pic/circleBTN_pw_C_md.png);
    background-position: center;
  }
  .circleBTN.dpp div.clickedCBTN {
    background-image: url(../pic/circleBTN_pw_C_md.png);
    opacity: 1;
    animation: rotate 4s forwards ease infinite;
  }
  .circleBTN.pw div.clickedCBTN {
    background-image: url(../pic/circleBTN_dpp_C_md.png);
    opacity: 1;
    animation: rotate 4s forwards ease infinite;
  }
  .circleBTN div {
    width: 24px;
    height: 24px;
  }
  .circleBTN p {
    background-size: contain;
    width: 8px;
    height: 8px;
    right: 15px;
  }
  .circleBTN > p.down {
    transform: rotateZ(90deg) translate(0, 1px);
  }
  /* moreBTN */
  .moreBTN p + div {
    margin: 0;
  }
  .moreBTN {
    width: 60px;
  }
  .moreBTN h4 {
    margin-bottom: -10px;
  }
  .moreBTN::before, #index #news > div .moreBTN::before {
    transform: translate(-6px, 32px);
  }
}
@media screen and (max-width: 768px) {
  header {
    top: 0;
    padding: 16px;
    border: var(--Copacity);
  }
  header .logo {
    width: -moz-max-content;
    width: max-content;
  }
  header .logo > img {
    height: 10vw;
    transform: translate(0, 0);
  }
  header div.burger {
    margin: auto 0;
    display: block;
  }
  header nav {
    display: none;
  }
  header div.icon {
    display: none;
  }
  #footer main { /* main block */
    display: block;
  }
  #footer main > div {
    margin: 0 auto;
    width: -moz-max-content;
    width: max-content;
  }
  #footer footer main img {
    height: auto;
  }
  #footer .icon {
    margin: 20px auto 40px;
  }
  #footer dl:not(:last-of-type), #footer dt {
    display: none;
  }
  #footer dl {
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
  }
  #footer dd + dd {
    margin-top: 16px;
  }
}
@media screen and (max-width: 768px) {
  #about {
    margin-top: 100px;
    background-position: 50%;
    background-size: cover;
    /* background-position: 40% 100%; */
  }
  #about .box {
    margin: 0 0 0 auto;
  }
  body:not(#index) #about::after {
    height: 80vw;
    top: 15vh;
  }
  #gurantee img {
    width: 60%;
  }
  #gurantee section > div {
    margin-top: 32px;
  }
  #gurantee article > div {
    display: block;
  }
  #gurantee figure {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  #gurantee figure img {
    width: 30vw;
    aspect-ratio: 1;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
  }
  #gurantee figure figcaption {
    text-align: left;
    margin: auto auto auto 0;
  }
  #gurantee figure:nth-of-type(1) img {
    -o-object-position: 0% 35%;
       object-position: 0% 35%;
  }
  #gurantee figure:nth-of-type(2) img {
    -o-object-position: 0% 0%;
       object-position: 0% 0%;
  }
  #gurantee figure:nth-of-type(3) img {
    -o-object-position: 0% 15%;
       object-position: 0% 15%;
  }
  #gurantee figure + figure {
    margin-top: 16px;
  }
  #shop article {
    margin: 0 auto;
  }
  #shop iframe {
    max-width: 80vw;
    max-height: 80vw;
    margin: 4vw 4vw 0;
  }
  #shop article > div {
    margin-left: 40px;
  }
  #shop .decorBot, #shop main > a {
    display: block;
  }
  #shop .moreBTN {
    margin: 0 auto;
  }
  .shop_bg {
    height: 200vh;
  }
  #contact, #index #contact {
    /* 可換小圖 */
    background-size: cover;
    background-position: 60% 100%;
    margin: 0 0 88px auto;
  }
  #index .box_wrap > .container > .box {
    margin: 64px 0 0 auto;
  }
}
@media screen and (max-width: 768px) {
  #collections section > div {
    width: 80%;
    margin: 0 auto 16px;
  }
  #collections section img {
    max-width: 80vw;
  }
  #collections article {
    margin: 0 auto;
    width: -moz-max-content;
    width: max-content;
  }
  #collections .moreBTN {
    margin: 16px 0 0 auto;
  }
  #b612 {
    margin-top: 100px;
  }
  #b612 .box {
    display: block;
  }
  #b612 .box div:first-of-type {
    width: 60vw;
    height: 60vw;
    position: static;
    display: block;
  }
  #b612 .box img {
    position: static;
    transform: translate(-48%, -30%) scale(0.5);
    animation: moveToRight2 3.5s ease-out forwards;
  }
  #b612 .box div:last-of-type {
    margin-top: 10vh;
  }
  #b612 .box::before {
    width: 60vw;
    height: 60vw;
    top: 20VW;
    right: 10VW;
    background-image: linear-gradient(to bottom, var(--Cco1) 0%, var(--Cco2) 70%, var(--Cco3) 100%);
  }
  #b612 main {
    display: block;
  }
  #b612 main img {
    width: 100%;
  }
  #b612 main h4, #b612 main div > p, #b612 main .p2 {
    text-align: center;
  }
  #b612 main div > p {
    height: 72px;
  }
  #b612 main .p2 {
    margin: auto 0 0;
  }
  #b612 blockquote .pc {
    display: none;
  }
  #b612 blockquote .phone {
    display: block;
  }
  #b612 blockquote h4 {
    word-spacing: normal;
    width: 70vw;
    margin: 0 auto;
  }
  #b612 article {
    margin: 0 auto;
  }
  #b612 article.part2 > div {
    height: 100%;
  }
  #b612 article.part2, #b612 article p {
    width: 100%;
  }
  #b612 section {
    position: static;
  }
  #b612 section > div {
    position: static;
    display: block;
    margin: 0 auto;
    width: 100%;
    transform: scale(1);
  }
  #b612 section.oneItem > div {
    width: 50vw;
    aspect-ratio: 1;
  }
  #b612 .oneItem h4 {
    margin: 32px auto 0;
  }
  #b612 section > article {
    padding: 0 8vw;
    width: 60vw;
  }
  #b612 section + section {
    margin-top: 10vh;
  }
  #b612 article.part2 {
    width: 70vw;
  }
  #b612 section.part2 {
    display: block;
    margin-top: 10vh;
  }
  #b612 section.part2 article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 32px 0 10vh;
    width: 100%;
    padding: 0;
  }
  #b612 section.part2 article > div + div {
    margin-top: 0;
  }
  #b612 section > div div {
    position: static;
    width: 100%;
    display: block;
  }
  #b612 section.part2 > div > div:last-of-type {
    /* display: block; */
  }
}
@media screen and (max-width: 768px) {
  .news_bg #news {
    width: 90vw;
  }
  .news_bg #news main {
    display: block;
  }
  #news aside {
    z-index: 999;
    top: 10vh;
    width: 100%;
    display: flex;
  }
  aside ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    margin: 0 auto;
  }
  aside li {
    margin-top: 0;
    height: 40px;
  }
  #news main > div {
    margin: 16px auto 0;
  }
  #news section > div {
    width: -moz-max-content;
    width: max-content;
    margin: auto 0 0;
    /* img{
        width: 30vw;
    } */
  }
  #news h4 {
    line-height: 30px;
  }
  #news .news_tags p {
    padding: 0 8px;
  }
  aside ul {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .faq_bg .container {
    /* max-width: 95vw; */
  }
  #faq nav {
    margin-right: 8px;
    justify-content: space-evenly;
    gap: 0;
  }
  #faq nav p {
    width: 18vw;
    line-height: 40px;
  }
  #faq ul {
    overflow-y: auto;
    max-height: 85vh;
    padding: 8px 16px 40px;
  }
  #faq .faq_q h2 {
    font-size: 28px;
    margin: 0 0 auto;
  }
}
/* index頁 */
@media screen and (max-width: 768px) {
  #bannerButton {
    text-align: right;
    right: 0;
    margin-right: 10vw;
    left: auto;
  }
  #bannerButton li {
    width: 6vw;
  }
  #bannerButton li + li {
    margin-left: 3vw;
  }
  .bannerRotate::before {
    bottom: 10vh;
    left: -40vw;
  }
  #sliderBoard::before {
    margin-top: 10vh;
    height: 100vh;
  }
  #sliderBoard img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 23%;
       object-position: 23%;
  }
  #sliderBoard .container {
    right: auto;
    top: 30vh;
  }
  #sliderBoard .container > div {
    width: 100%;
    justify-content: stretch;
    margin: 0;
    gap: 2vh;
  }
  #sliderBoard h1 {
    width: 100%;
    text-align: right;
  }
  #index #about {
    background-size: auto 90vh;
  }
  #index #b612 div > a {
    display: block;
  }
  #index #b612 main { /* main block */
    display: block;
  }
  #index #b612 main > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 18% 25% 18%;
    margin-bottom: -510px;
  }
  #index #b612 img {
    width: 100%;
    border-radius: 12px;
  }
  #index #b612 main > div > .necklace {
    grid-column: span 2;
    grid-row: span 1;
  }
  #index #b612 .necklace > img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0% 12%;
       object-position: 0% 12%;
  }
  #index #b612 article {
    margin: 0 auto;
    display: none;
  }
  #index #news {
    margin-bottom: 10vh;
  }
  #index #news hgroup {
    margin-top: 0;
  }
  #index #news main {
    gap: 32px;
  }
  #index #news .spotlight {
    gap: 32px;
  }
  #index #news section:nth-of-type(n+4) {
    display: none;
  }
  #index #news section img {
    width: 40vw;
  }
  #index #news article {
    padding: 1vh;
    height: 150px;
  }
  #index #news div.news_tags {
    /* margin: 0; */
    align-items: center;
  }
}
@media screen and (max-width: 560px) {
  hgroup {
    margin-top: 5vh;
  }
  body:not(#index) #about::after {
    height: 0;
  }
  #sliderBoard img {
    -o-object-position: 29%;
       object-position: 29%;
  }
  #b612 article p br {
    display: none;
  }
  #news article {
    padding-right: 2vw;
  }
  #news section img {
    width: 40vw;
  }
  #index #about {
    background-position: center;
  }
  #index #news {
    margin-top: 20vh;
  }
  #index #news div.news_tags {
    line-height: 20px;
  }
  #index #news section > div {
    width: auto;
  }
  #index #news section img {
    width: 60vw;
  }
}
@media screen and (max-width: 490px) {
  .box > .box_bg {
    padding: 4vw 6vw 7vw;
  }
  .box > .box_bg > h2, .box p + p {
    margin-top: 4vw;
  }
  .box > .box_bg > h2 {
    margin-bottom: 4vw;
  }
  .p3 {
    line-height: 2;
  }
  #sliderBoard img {
    -o-object-position: 30%;
       object-position: 30%;
  }
  #bannerButton li {
    width: 10vw;
  }
  #bannerButton li + li {
    margin-right: 0.5vw;
  }
  #index #about {
    /* margin-top: -110vh; */
  }
  #index #about .container {
    margin-top: 20vh;
  }
  #index #news {
    margin-top: 30vh;
  }
  #index #news section img {
    width: 70vw;
  }
  #index #news .news_tags {
    width: -moz-max-content;
    width: max-content;
    margin-top: 1vw 0 0;
    height: 140px;
  }
  footer br {
    display: block;
  }
  #gurantee figure img {
    margin: 0 0 0 auto;
  }
  #gurantee figure {
    gap: 24px;
  }
  #gurantee p:not(.p2) {
    line-height: 20px;
  }
  #gurantee .p2 br {
    display: block;
  }
  #b612 .necklace br, #b612 .bracelet br, #b612 .earrings br {
    display: block;
  }
  #b612 article .p2 br {
    display: none;
  }
  #b612 main section.part2 div > p {
    height: 120px;
  }
  #news section {
    grid-template-columns: 1fr;
    gap: 16px;
    margin-top: 32px;
  }
  #news section img {
    width: 90vw;
  }
}
@media screen and (max-width: 360px) {
  #about .box > .box_bg {
    padding: 4vw 1.5vw 7vw;
  }
  #index #about {
    background-position: 40% 50%;
  }
  #index #news {
    margin-top: 95vw;
  }
  #b612 {
    max-width: 100%;
  }
  #b612 section.part2 article {
    margin-right: -5vw;
    margin-left: 0vw;
  }
}
/* 320/480/768/1024 */
/* // Medium devices (tablets, less than 992px)
@media screen and (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media screen and (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media screen and (max-width: 1399.98px) { ... } *//*# sourceMappingURL=media.css.map */